.turn_in_container {
  padding: 10px 12px;

  .turn_in_modal_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

    .close_modal {
      transform: translateY(5px);
      span {
        cursor: pointer;
      }
    }
  }

  .turn_in_modal_content {
    margin-top: 2rem;
    display: flex;
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
    .preview_image_name {
      margin-left: 2rem;
      margin-top: 4px;
      margin-top: 10px;
      @media (max-width: 500px) {
        margin-top: 1rem;
        margin-left: 0;
      }
      .preview_container {
        padding: 7px 8px;
        border-radius: 20px;
        background-color: #c51162;
        box-shadow: 1px 1px 5px black;
        color: white;
        font-size: 14px;
        @media (max-width: 500px) {
          margin-top: 10px;
        }
        .close_preview {
          margin-left: 12px;
          font-weight: 500;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }

  .submit_assignment_btn {
    margin-top: 2rem;
  }
}
